.qr {
	-fx-background-image: url("/images/qrcode.png");
    
    /* Gestione visualizzazione (fondamentale per non tagliare) */
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    
    /* Dimensioni del QR */
    -fx-min-width: 250px;
    -fx-min-height: 250px;
    -fx-pref-width: 250px;
    -fx-pref-height: 250px;
}